body {
  font-family: 'Titillium Web';

  .application {
    font-family: 'Titillium Web';
    font-size: 16px;
    font-weigth: 400;

    main {
      background-color: lighten($primary, 56%);
      color: $color;
    }
  }
}
