$primary: #003366;
$secondary: #3399FF;
$info: #00293C;
$warning: #ffb822;
$error: #f4516c;
$success: #6B8E23;
$fontFamily: 'Titillium Web'; // font family
$color: darken(#898b96, 10%); // Text color
$bgSidenav: #2c2e3e;
