@import '../../../assets/scss/_variables.scss';
$textColor: #99abb4;

.logoOPENFLOW {
  background: transparent url(../../../../static/images/openflow1.svg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.loginTitle {
  margin-left: -20px; 
}
.app-login.application {
  .application--wrap {
    background: transparent url(../../../../static/images/background.jpg) no-repeat;
    background-size: cover;

    .content--wrap {
      background: rgba($color: $primary, $alpha: 0.25);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .content {
        background: none;
      }
    }
  }

  .login-form {
    width: 100%;
    max-width: 420px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    background: none;
    .container {
      background: transparent;
      padding: 0;
      .layout {
        background: transparent;
        padding: 0;
        .flex {
          .card__title {
            padding-left: 0;
            margin-left: 0;
            h5 {
              color: #FFF !important;
            }
          }
          padding: 70px;
          -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.4);

          &:first-child {
            background: #FFF;
          }

          &:last-child {
            label {
              color: #FFF;
            }

            color: #FFF !important;

            input[type='text'],
            input[type='password'],
              {
              color: #FFF;
            }
            i {
              color: #FFF;
            }
            background: rgba($color: #FFF, $alpha: .25);
          }
        }
      }
    }
  }

  .top-login {
    top: 0;
    background: rgba($color: $primary, $alpha: .5);
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }

  main {
    padding-top: 0;
  }

  .login-form {
    width: 100%;
    max-width: 420px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    background: none;

    form>.card__title:not(:last-child) {
      padding-bottom: 0;
    }

    form>.card__title:not(:last-child) {
      padding-bottom: 0;
    }

    form>.card__title:last-child {
      margin-top: 20px;

      a {
        color: white;
        display: inline-block;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 1rem;
      }
    }

    h4 {
      line-height: 1.4rem;
      padding: 0 5px;
      color: $primary;
    }

    .fluid {
      padding: 5px 5px 0;
    }

    .card__title {
      color: darken($textColor, 20%);
      font-size: 0.95rem;

      &>span {
        margin-right: 5px;
      }
    }

    .input-group.checkbox {
      margin-top: -1px;
      margin-left: -5px;
      padding: 0;

      label {
        margin-top: -4px;
        color: darken($textColor, 20%);
      }

      .input-group__details {
        display: none;
      }
    }

    .login-options {
      padding-bottom: 7px;

      a {
        color: $textColor;
        font-size: 0.95rem;

        .icon {
          font-size: 1.2rem;
        }
      }
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .card__actions {
      padding: 0 15px;
    }
  }
}

.login-lang {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, .6);

  .btn {
    margin: 0;

    .btn__content {
      color: #333;
    }
  }
}
